*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f0f2f5;
}
header{
    background-color: royalblue;
    height: 10vh;
    color: white;
    text-align: center;
    font-size: 30px;
}



section .box{
    margin: 10vh 10vw;
    display: flex;
    position: absolute;
    border: black 2px hidden;
    height: 75vh;
    width: 80vw;
    /* background-color: white; */
    flex-wrap: wrap ;
    border-radius: 10px;
    /* box-shadow: 1px 2px 10px black; */
}
    
section .box .box1{
    display: inline-block;
    margin: 10vh 10vw;
    position: absolute;
    /* background-color: wh; */
}


section .box .box2{
    display: inline-block;
    margin: 10vh 50vw;
    position: absolute;
}

section .box .box1 .first{
    position: absolute;
    border: white 2px solid;
    height: 19vh;
    width: 20vw;
    text-align: center;
    margin-bottom: 15vh;
    box-shadow: 1px 2px 10px black;
    /* background-color: #f0f2f5; */
    background-color: white;
    transition: transform 0.1s;
}
section .box .box1 .first a{
    padding-top: 5vh;
    color: rgb(124, 121, 121);
    text-decoration: none;
}
section .box .box1 .first a h1{
    margin-top: 5vh;
    font-size: 40px;
}
section .box .box1 .first:hover{
    box-shadow: 1px 2px 10px rgb(168, 43, 21);
    height: 19.1vh;
    width: 20vw;
    transform: scale(1.05);
}

section .box .box2 .second{
    border: white 2px solid;
    height: 19vh;
    width: 20vw;
    text-align: center;
    margin-bottom: 15vh;
    box-shadow: 1px 2px 10px black;
    position: absolute;
    background-color: white;
    transition: transform 0.1s;
}
section .box .box2 .second a{
    /* color: white; */
    padding-top: 5vh;
    text-decoration: none;
    color: rgb(124, 121, 121);

}
section .box .box2 .second a h1{
    margin-top: 5vh;
    font-size: 40px;
}
section .box .box2 .second:hover{
    box-shadow: 1px 2px 10px rgb(168, 43, 21);
    height: 19.1vh;
    width: 20vw;
    transform: scale(1.05);
}

section .box .box1 .third{
    border: white 2px solid;
    height: 19vh;
    width: 20vw;
    text-align: center;
    box-shadow: 1px 2px 10px black;
    margin-top: 33vh;
    background-color: white;
    transition: transform 0.1s;
}
section .box .box1 .third a{
    padding-top: 5vh;
    text-decoration: none;
    color: rgb(124, 121, 121);
}
section .box .box1 .third a h1{
    margin-top: 5vh;
    font-size: 40px;
}
section .box .box1 .third:hover{
    box-shadow: 1px 2px 10px rgb(168, 43, 21);
    height: 19.1vh;
    width: 20vw;
    transform: scale(1.05);
}

section .box .box2 .fourth{
    border: white 2px solid;
    height: 19vh;
    width: 20vw;
    text-align: center;
    box-shadow: 1px 2px 10px black;
    margin-top: 33vh;
    background-color: white;
    transition: transform 0.1s;
}
section .box .box2 .fourth a{
    padding-top: 5vh;
    text-decoration: none;
    color: rgb(124, 121, 121);

}
section .box .box2 .fourth a h1{
    margin-top: 5vh;
    font-size: 40px;
}
section .box .box2 .fourth:hover{
    box-shadow: 1px 2px 10px rgb(168, 43, 21);
    height: 19.1vh;
    width: 20vw;
    transform: scale(1.05);
}

footer {
    background-color: rgb(23, 14, 71);
    text-align: center;
    height: 36vh;
    width: 95vw;
    padding: 30px;
    margin-top: 100vh;
}
footer p{
    padding-top: 3vh;
    color: white;
    font-size: 20px;
}
footer h2{
    padding-top: 2vh;
    color: rgb(153, 40, 40);
    font-size: 45px;
    text-decoration: underline;
}
footer .flexing{
    display: flex;
}
.flexing .recs img{
    margin: 35px 0 0 0;
}
.flexing .recs{
    /* border: white 2px solid; */
    height: 40vh;
    width: 30vw;
}
.flexing .address{
    margin: 5vh 0 0 11vw;
    text-justify: auto;
}
.flexing .address span{
    font-weight: bolder;
    color: white;
    font-size: 25px;
}
.flexing .address p{
    padding-top: 2vh;
    margin-top: 2vh;
}

.flexing .connect{
    margin: 0 0 0 15vw;
}
.flexing .connect p{
    font-weight: bolder;
    text-decoration: underline;
    padding: 3vh 0 2vh 0 ;
}
.flexing .connect nav{
    display: flex;
    margin-left: 40px;
}
.flexing .connect nav ul li{
    display: inline-block;
    padding: 15px;
    height: 50px;
}
.flexing .connect span{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2vh 0 0 0;
    font-style: italic;
    font-weight: bolder;
}

